body {padding:0px; margin:0px; background:none;}
div {font-size:11px; font-family:Arial,Helvetica,Verdana,sans-serif; color:#000000;}
a {color:#806b00; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none;}
a:hover {color:#134cbf; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline;}
a.arial_11pxTanB {color:#806b00; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none; font-size:11px;}
a.arial_11pxTanB:hover {color:#660099; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline; font-size:11px;}
a.arial_12pxBlueB {color:#0044cc; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline; font-size:12px;}
a.arial_12pxBlueB:hover {color:#660099; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none; font-size:12px;}
a.arial_14pxBlueB {color:#0044cc; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline; font-size:14px;}
a.arial_14pxBlueB:hover,a.arial_14pxBlueB_on,.arial_14pxBlueB {color:#0044cc; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none; font-size:14px;}
a.arial_14pxBlueBI {color:#0044cc; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none; font-size:14px; font-style:italic;}
a.arial_14pxBlueBI:hover {color:#660099; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none; font-size:14px; font-style:italic;}
a.arial_14pxTanB {color:#660099; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline; font-size:14px;}
a.arial_14pxTanB:hover,a.arial_14pxTanB_on {color:#806b00; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none; font-size:14px;}
a.arial_16pxBlueB {color:#0044cc; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline; font-size:16px;}
a.arial_16pxBlueB:hover {color:#660099; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none; font-size:16px;}
a.arial_purple {color:#660099; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none;}
a.arial_purple:hover {color:#806b00; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline;}
a.arial_yellowB {color:#ffe566; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none;}
a.arial_yellowB:hover {color:#ffffff; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline;}
a.lucida_12pxBlueLH16 {color:#0044cc; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; font-weight:normal; text-decoration:none;}
a.lucida_12pxBlueLH16:hover {color:#660099; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; font-weight:normal; text-decoration:none;}
a.lucida_12pxGrayLH16 {color:#333333; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; cursor:pointer; font-style:italic; text-transform:uppercase; font-weight:normal; text-decoration:none;}
a.lucida_12pxGrayLH16:hover {color:#660099; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; cursor:pointer; font-style:italic; text-transform:uppercase; font-weight:normal; text-decoration:none;}
a.verdana_9pxBlueB {color:#0044cc; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:9px; line-height:11px;}
a.verdana_9pxBlueB:hover {color:#0044cc; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:underline; font-size:9px; line-height:11px;}
a.verdana_9pxBlueBLH11 {color:#0044cc; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:9px; line-height:11px;}
a.verdana_9pxBlueBLH11:hover {color:#660099; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:9px; line-height:11px;}
a.verdana_9pxBlueBLH13 {color:#0044cc; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:9px; line-height:13px;}
a.verdana_9pxBlueBLH13:hover {color:#660099; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:9px; line-height:13px;}
a.verdana_9pxPurpleBLH13 {color:#660099; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:9px; line-height:13px;}
a.verdana_9pxPurpleBLH13:hover {color:#660099; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:9px; line-height:13px;}
a.verdana_10pxB {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:10px; line-height:16px;}
a.verdana_10pxB:hover {color:#660099; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:underline; font-size:10px; line-height:16px;}
a.verdana_10pxBlackB {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:10px; line-height:15px;}
a.verdana_10pxBlackB:hover {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:underline; font-size:10px; line-height:15px;}
a.verdana_10pxB_on,a.verdana_10pxB_on:hover {color:#660099; font-family:Verdana,Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline; font-size:10px; line-height:16px;}
a.verdana_11pxB {color:#660099; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:11px;}
a.verdana_11pxB:hover {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:underline; font-size:11px;}
a.verdana_12pxB {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:12px;}
a.verdana_12pxB:hover {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:underline; font-size:12px;}
a.verdana_12pxBlueB {color:#0044cc; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:12px; line-height:17px;}
a.verdana_12pxBlueB:hover {color:#660099; font-family:Verdana,Arial,Helvetica,sans-serif; font-weight:bold; text-decoration:none; font-size:12px; line-height:17px;}
#login_info a {color:#ffe566; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:none;}
#login_info a:hover {color:#ffffff; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold; text-decoration:underline;}
form {padding:0px margin:0px;}
ul,ol,li {margin-top:0px; margin-bottom:0px; padding-top:5px; font-size:11px; color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif;}

html,body,div,span,object,form,input,h1,h2,button,label,a,img,div.*{-moz-user-select:none;-webkit-user-select:none;/* this will work for QtWebKit in future */-webkit-user-drag:none;}
input[type=text] {-moz-user-select:text;-webkit-user-select:text;}

.arial11pxBlack {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:11px; text-align:center;}
.arial12pxBlack {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:12px;}
.arial12pxPurple {color:#660099; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:12px;}
.arial14pxBlack {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px;}
.arial14pxBlackB {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px; font-weight:bold;}
.arial14pxBlackBI {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px; font-weight:bold; font-style:italic;}
.arial14pxBlackI {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px; font-style:italic;}
.arial14pxBlackILH18 {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px; line-height:18px; font-style:italic;}
.arial14pxBlackLH18 {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px; line-height:18px;}
.arial14pxPurple {color:#660099; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px;}
.arial15pxBlack {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:15px;}
.arial16pxBlackB {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:16px; font-weight:bold;}
.arial18pxRedB {color:#990000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:18px; font-weight:bold;}
.bg_blue {background-color:#3c79f2;}
.bg_links {background-color:#ffecb2; padding:4px 16px 5px 0px; width:204px; margin-top:4px; margin-bottom:8px; text-align:right;}
.bg_grouplinks {background-color:#ffecb2; padding:4px 10px 5px 0px; width:204px; margin-top:4px; margin-bottom:8px; text-align:right;}
.bg_tan {background-color:#fff6cc;}
.bg_tan2 {background-color:#ffe9a6;}
.bg_white {background-color:#ffffff;}
.border_table {border:2px solid #000000;}
.box_190px {display:none;}
.box_240px {float:left; width:240px;}
.box_359px {float:left; width:359px;}
.box_588px {float:left; width:588px; padding:0px 0px 0px 71px;}
.box_794px {width:auto;}
.clue_text {color:#000000; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; padding:0px 37px 0px 37px;}
.clue_textBlue {color:#0044cc; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px;}
.clue_textRed {color:#cc0000; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px;}
.col_step {border-top:2px solid #000000; padding:2px 2px 2px 2px;}
.col_stepR {border-top:2px solid #000000; border-left:2px solid #000000; padding:2px 2px 2px 2px;}
.column_tanLine {border-left:2px solid #d9bc4c; padding:5px;}
.column_tanLineL {text-align:center; padding:5px;}
.columnLine {border-left:1px solid #806b00; border-bottom:1px solid #806b00; text-align:center; padding:10px;}
.columnLineL {border-left:2px solid #806b00; border-bottom:1px solid #806b00; text-align:center; padding:10px;}
.columnLineL_done {border-left:2px solid #806b00; border-bottom:1px solid #806b00; text-align:center; padding:10px; background-color:#ccbc70; text-align:center; padding:10px;}
.columnLineR {border-left:1px solid #806b00; border-bottom:1px solid #806b00; border-right:2px solid #806b00; text-align:center; padding:10px;}
.columnLine_admin {border-left:1px solid #806b00; border-bottom:1px solid #806b00; text-align:center; padding:4px;}
.columnLine_adminL_done {border-left:2px solid #806b00; border-bottom:1px solid #806b00; text-align:center; padding:10px; background-color:#ccbc70; text-align:center; padding:4px;}
.columnLine_adminL {border-left:2px solid #806b00; border-bottom:1px solid #806b00; text-align:center; padding:4px;}
.columnLine_adminR {border-left:1px solid #806b00; border-bottom:1px solid #806b00; border-right:2px solid #806b00; text-align:center; padding:4px;}
.columnLine_submit {border-left:1px solid #c2ad4c; text-align:center; padding:0px 7px 8px 7px;}
.columnLine_submitR {border-left:1px solid #c2ad4c; text-align:center; padding:0px 7px 8px 7px;}
.comment_padding {padding:2px 0px 0px 2px;}
.content_padding {padding:0px 11px 0px 11px;}
.float_dotL {float:left; padding:3px 5px 0px 0px;}
.float_textL {float:left; padding:5px 6px 0px 1px; font-style:normal;}
.floatForm {float:left; color:#000000; font-family:Verdana,Arial,sans-serif; font-size:11px; font-style:italic; text-align:left; width:220px; padding:0px 6px 0px 0px;}
.floatFormNoIt {float:left; color:#000000; font-family:Verdana,Arial,sans-serif; font-size:11px; text-align:left; width:220px; padding:0px 6px 0px 0px;}
.floatInstrux {float:left; color:#806b00; font-family:Verdana,Arial,sans-serif; font-size:12px; font-weight:bold; text-align:right; width:150px; padding:3px 6px 0px 0px;}
.floatL {float:left;}
.floatR {float:right;}
.floatRadioL {float:left; padding:3px 1px 0px 0px;}
.form_field {padding:1px 2px 1px 2px; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px; font-style:italic;}
.form_field11px {padding:1px 2px 1px 2px; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:11px; font-style:italic;}
.form_key {padding:1px 2px 1px 2px; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:12px;}
.form_monospace {padding:1px 2px 1px 2px; font-family:Courier,"Courier New","Lucida Console",Arial,sans-serif; font-size:11px; color:#cc0000;}
.generator190_columnRB {width:190px; height:13px; background:none; background-color:#ffecb2;}
.generator190_columnRM {width:190px; background-color:#ffecb2;}
.generator190_columnRT {width:190px; background:none; background-color:#ffecb2; padding:12px 0px 12px 0px;}
.generator240_columnRB {width:240px; height:8px; background:none; background-color:#ffecb2; padding-top:4px;}
.generator240_columnRM {width:240px; background-color:#ffecb2;}
.generator240_columnRT {width:240px; background:none; background-color:#ffecb2; padding:12px 0px 0px 0px;}
.generator359_columnLB {width:359px; height:18px;}
.generator359_columnLM {width:359px; padding-top:5px;}
.generator359_columnLT {width:359px; height:19px;}
.generator528_columnL {width:528px; float:left; padding:0px 32px 0px 73px;}
.generator588_columnLB {width:588px; height:18px; background:none;}
.generator588_columnLM {width:588px; background:none; padding-top:5px;}
.generator588_columnLT {width:588px; height:19px; background:none; padding-top:12px;}
.headerLineL {border-left:2px solid #3c79f2; border-bottom:2px solid #806b00; padding:5px 5px 6px 5px;}
.headerLine {border-left:1px solid #a6c3ff; border-bottom:2px solid #806b00; padding:5px 5px 6px 5px;}
.headerLineR {border-left:1px solid #a6c3ff; border-right:2px solid #3c79f2; border-bottom:2px solid #806b00; padding:5px 5px 6px 5px;}
.headerSubmit {border-left:1px solid #c2ad4c; padding:5px 5px 6px 5px;}
.headerSubmitR {border-left:1px solid #c2ad4c; padding:5px 5px 6px 5px;}
.header_step1 {text-align:center; padding:12px 0px 12px 0px;}
.header_step1R {border-left:2px solid #000000; border-top:2px solid #000000; text-align:center; padding:12px 0px 12px 0px;}
.header_step2 {border-top:2px solid #000000; text-align:center; padding:5px 2px 5px 2px;}
.header_step2R {border-left:2px solid #000000; border-top:2px solid #000000; text-align:center; padding:5px 2px 5px 2px;}
.header_tanLineL {border-bottom:2px solid #d9bc4c; padding:11px;}
.header_tanLine {border-bottom:2px solid #d9bc4c; border-left:2px solid #d9bc4c; padding:11px;}
.headerTan {color:#806b00; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; font-weight:bold; text-align:center;}
.headerWhite {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; font-weight:bold; text-align:center;}
.headerWhite14px {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; font-weight:bold; text-align:center;}
.helvetica11pxTanB {color:#806b00; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:11px; font-weight:bold;}
.helvetica11pxWhiteB {color:#000000; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:11px; font-weight:bold; text-align:center;}
.hr_tan {background-color:#c5af48; height:1px; margin-left:3px; margin-right:3px;}
.input_180px {width:180px; height:15px; font-family:Verdana,Arial,sans-serif; font-size:11px; font-style:italic; padding:1px 2px 0px 2px; margin:0px; line-height:13px;}
.login_bg {padding:10px 59px 5px 59px; width:386px; background:none; min-height:60px; z-index:1;}
.login_entry {padding-top:13px;}
.login_entry2 {padding-top:6px;}
.login_entryB {margin-top:10px; width:504px; height:44px; background:none;}
.login_entry_parent {padding-top:4px;}
.login_entryT {padding-top:22px;}
.login_window {width:504px; background:none;}
.login_windowB {width:504px; height:44px; background:none; margin-top:-24px;}
.lucida_12pxBlueLH16 {color:#0044cc; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; cursor:pointer;}
.message_inputBlue {width:294px; height:14px; color:#0044cc; padding:1px 3px 1px 3px; border:1px solid #c5b45a; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; text-align:center;}
.message_inputGray {width:294px; height:14px; color:#333333; padding:1px 3px 1px 3px; border:1px solid #c5b45a; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; text-align:center; font-style:italic; text-transform: uppercase;}
.message_textBlueL {width:544px; height:54px; color:#0044cc; padding:2px 3px 2px 3px; border:1px solid #c5b45a; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px;}
.message_textGrayIL {width:544px; height:54px; color:#333333; padding:2px 3px 2px 3px; border:1px solid #c5b45a; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; font-style:italic; text-transform: uppercase;}
.message_textRedL {width:544px; height:54px; color:#cc0000; padding:2px 3px 2px 3px; border:1px solid #c5b45a; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px; text-transform: uppercase;}
.monospace_field {font-family:Courier,"Courier New","Lucida Console",Arial,sans-serif; font-size:14px;}
.padding_4pxB {padding-bottom:12px;}
.padding_23pxT {padding-top:23px;}
.padding_crack {padding-top:3px;}
.paper_bg {width:774px; padding:10px; background-color:#ffffff;}
.paper_btm {width:794px; height:32px; background:none;}
.sample_on {color:#ffffff; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:11px; font-weight:bold; width:247px; height:17px; background:transparent url(images/bg_accordian_over.jpg) repeat-y; cursor:pointer; margin-top:1px; margin-bottom:1px; margin-left:3px; padding:1px 2px 0px 20px;}
.sample_on2 {color:#ffffff; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:11px; font-weight:bold; width:166px; height:17px; background:transparent url(images/bg_accordian_over2.jpg) repeat-y; cursor:pointer; margin-top:1px; margin-bottom:1px; margin-left:3px; padding:1px 2px 0px 105px;}
.sample_on3 {color:#ffffff; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:11px; font-weight:bold; width:113px; height:17px; background:transparent url(images/bg_accordian_over3.jpg) repeat-y; cursor:pointer; margin-top:1px; margin-bottom:1px; margin-left:3px; padding:1px 2px 0px 162px;}
.sample_off {color:#ffffff; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:11px; font-weight:bold; width:247px; height:17px; background:transparent url(images/bg_accordian.jpg) repeat-y; cursor:pointer; margin-top:1px; margin-bottom:1px; margin-left:3px; padding:1px 2px 0px 20px;}
.sample_off2 {color:#ffffff; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:11px; font-weight:bold; width:166px; height:17px; background:transparent url(images/bg_accordian2.jpg) repeat-y; cursor:pointer; margin-top:1px; margin-bottom:1px; margin-left:3px; padding:1px 2px 0px 105px;}
.sample_off3 {color:#ffffff; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:11px; font-weight:bold; width:113px; height:17px; background:transparent url(images/bg_accordian3.jpg) repeat-y; cursor:pointer; margin-top:1px; margin-bottom:1px; margin-left:3px; padding:1px 2px 0px 162px;}
.sample_text {margin-left:3px; margin-right:3px; padding:5px 0px 6px 20px; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; line-height:16px;}
#sample_classtext1,#sample_classtext2,#sample_classtext3,#sample_classtext4,#sample_classtext5,#sample_classtext6,#sample_classtext7,#sample_classtext8,#sample_classtext9,#sample_classtext10,#sample_classtext11,#sample_classtext12,#sample_classtext13,#sample_classtext14 {display:none;}
#sample_playground1,#sample_playground2,#sample_playground3,#sample_playground4,#sample_playground5,#sample_playground6,#sample_playground7,#sample_playground8 {display:none;}
#sample_playtext1,#sample_playtext2,#sample_playtext3,#sample_playtext4,#sample_playtext5,#sample_playtext6,#sample_playtext7,#sample_playtext8 {display:none;}
#sample_school1,#sample_school2,#sample_school3,#sample_school4,#sample_school5,#sample_school6,#sample_school7,#sample_school8 {display:none;}
#sample_school1text1,#sample_school1text2,#sample_school1text3,#sample_school1text4,#sample_school1text5,#sample_school1text6,#sample_school1text7,#sample_school1text8 {display:none;}
.select_field {padding:1px 2px 1px 2px; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:12px;}
.select_login {width:100px; height:20px; font-family:Verdana,Arial,sans-serif; font-size:11px; font-style:italic; padding:1px 2px 0px 2px; margin:0px; line-height:13px;}
.select_tanbg {background-color:#ddd19a; font-family:"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; color:#594b00; font-weight:bold; font-size:11px; font-weight:bold; text-align:center; line-height:15px;}
.submit_text {font-family:Arial,Helvetica,Verdana,sans-serif; font-size:14px; line-height:18px; color:#000000;}
.subtitle {padding:11px 0px 8px 28px;}
.text_admin100px {width:100px; height:17px; color:#000000; padding:2px 3px 2px 3px; border:1px solid #c5b45a; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:11px; line-height:15px; font-style:italic; text-align:center;}
.text_admin182px {width:182px; height:17px; color:#000000; padding:2px 3px 2px 3px; border:1px solid #c5b45a; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:11px; line-height:15px; font-style:italic;}
.verdana_11px {color:#000000; font-family:Verdana,Arial,sans-serif; font-size:11px;}
.verdana_12pxB {color:#000000; font-family:Verdana,Arial,sans-serif; font-size:12px; font-weight:bold;}
.verdana_12pxTanB {color:#806b00; font-family:Verdana,Arial,sans-serif; font-size:12px; font-weight:bold;}
.verdana_13px {color:#000000; font-family:Verdana,Arial,sans-serif; font-size:13px;}
.verdana_13pxLH17 {color:#000000; font-family:Verdana,Arial,sans-serif; font-size:13px; line-height:17px;}
.yellow_arialB {color:#ffe566; font-family:Arial,Helvetica,Verdana,sans-serif; font-weight:bold;}
.your_message {font-family:Courier,"Courier New","Lucida Console",Arial,sans-serif; font-size:12px; color:#0044cc; padding:25px 0px 3px 4px; text-align:left;}

#barT {background:none; height:22px;}
#barB {background:none; height:22px;}
#barB_internal {display:none;}
#barT_internal {background:none;}
#bg_generator_intro {}
#bg_home {background:none; height:558px; width:950px;}
#bg_internal {background:none; background-color:#ffecb2; width:950px;}
#bg_internal_login,#bg_internalDark {background:none; background-color:#ffecb2; width:950px;}
#bg_internalDark2 {background:none; background-color:#ffecb2; width:950px; min-height:540px;}
#bg_treasure_title {padding:8px 0px 8px 0px;}
#board_content {padding:15px 24px 15px 24px;}
#challenges {float:left; padding:11px 0px 0px 11px;}
#cipher_info {font-family:Helvetica,Arial,Verdana,sans-serif; font-size:13px; line-height:15px; color:#000000; font-weight:bold; text-align:center; position:relative; margin-top:-6px; padding-bottom:9px;}
/*#ciphertext {font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:16px; line-height:22px; color:#b2000f; padding:0px 4px 0px 4px; height:110px; width:280px; overflow:-moz-scrollbars-vertical; overflow-x:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch; margin-bottom:9px;}*/
#ciphertext {font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:16px; line-height:22px; color:#b2000f; padding:0px 4px 0px 4px; height:110px; width:280px; border:none; background:none;}
#classroom {background:none; width:896px; height:396px;}
#close_copy {margin-right:-29px; margin-top:-8px;}
#close_preview {display:none;}
#codename_choose {width:298px; border:2px solid #594b00; background:none; display:none; position:absolute; top:0px; left:0px; z-index:2;}
#codename_title {padding-bottom:6px; text-align:center;}
#comics {float:left; padding:10px 0px 0px 14px;}
#content_bg {}
#content_main {}
#content_main_board {width:950px; background:none; background-color:#ffdc73;}
#content_main_notext {width:950px; background:none; background-color:#ffdc73;}
#content_messageboard,#content_messageboard2 {border:3px solid #0044cc;}
#content_step0 {padding-top:22px;}
#content_step1 {display:none;}
#content_step2,#content_step3,#content_step4 {display:none;}
#copied_reminder {z-index:6; visibility:hidden; width:468px; height:79px; position:relative; margin-top:-495px; margin-left:212px; float:left;}
#correct {display:none; width:200px; height:62px; background-color:#0044cc; padding-top:8px; position:relative; margin-top:-68px; margin-left:76px; float:left;}
#correct2 {display:none; width:200px; height:62px; background-color:#0044cc; padding-top:8px; position:relative; margin-top:-80px; margin-bottom:10px; z-index:14;}
#d_clip_button {width:94px; height:24px; background:none;}
#d_clip_button.hover {background:none;}
#d_clip_button.active {background:none;}
#edit_messageboard {border:3px solid #806b00;}
#float_codename1 {float:left; width:128px; padding:0px 14px 0px 14px;}
#float_codename2 {float:left; width:128px;}
#footer {display:none;}
#for_teachers {float:left; padding:11px 0px 0px 13px;}
#formContainer {padding:0px; margin:0px;}
#games {float:left; padding:9px 0px 0px 23px;}
#generator_content {}
#header {display:none;}
#hide1,#hide2,#hide3,#hide4,.hide {display:none;}
#home {background:none; height:558px; width:950px;}
#hunt_title {color:#222222; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:18px;}
#incorrect {display:none; width:160px; height:62px; background-color:#b2000f; padding-top:8px; position:relative; margin-top:-70px; margin-left:96px; float:left;}
#incorrect2 {display:none; width:200px; height:62px; background-color:#b2000f; padding-top:8px; position:relative; margin-top:-80px; margin-bottom:10px; z-index:13;}
#login_info {display:none;}
#logo_crypto {display:none;}
#logo_crypto_print {float:left; padding:0px 20px 12px 0px;}
#links_home {padding:133px 0px 0px 165px; height:298px;}
#main_board {display:block;}
#math {float:left; padding:7px 0px 0px 13px;}
#messageboard {border-bottom:1px solid #806b00;}
#message_text {width:265px; height:65px; color:#000000; padding:2px 3px 2px 3px; border:1px solid #c5b45a; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px;}
#message_textS {width:235px; height:65px; color:#000000; padding:2px 3px 2px 3px; border:1px solid #c5b45a; font-family:"Lucida Console",Courier,"Courier New",Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px;}
#paste_plaintext {width:300px; height:100px; color:#0044cc; padding:2px 8px 2px 8px; border:1px solid #c5b45a; font-family:"Lucida Console","Courier New",Courier,Arial,Helvetica,Verdana,sans-serif; font-size:12px; line-height:16px;}
#plaintext_info {font-family:Helvetica,Arial,Verdana,sans-serif; font-size:13px; line-height:15px; color:#000000; font-weight:bold; text-align:center; padding-bottom:12px; position:relative; margin-top:-4px;}
#popup_copy {z-index:3; float:left; visibility:hidden; width:292px; height:168px; background:none; border:2px solid #594b00; padding:8px 29px 12px 29px; position:relative; margin-top:-200px; margin-left:572px;}
#popup_plaintext {z-index:4; float:left; visibility:hidden; width:358px; height:188px; background:none; border:2px solid #594b00; position:relative; margin-top:-200px; margin-left:572px;}
#popup_submit {z-index:5; float:left; visibility:hidden; width:796px; height:176px; background:none; border:2px solid #594b00; position:relative; margin-top:-209px; top:256px; margin-left:73px;}
#popup_submit_joke {display:none; background:none; background-color:#ffecb2; width:902px; padding:13px 24px 8px 24px;}
#preview_vigenere {display:none;}
#preview_wheel {display:none;}
#profile_header {padding:14px 0px 0px 30px; height:30px; width:600px; float:left;}
#remember {float:left; width:228px; height:50px; background:none; background-color:#dddddd; position:relative; margin-top:-184px; margin-left:-244px; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:12px; line-height:17px; color:#000000; font-weight:bold; padding:8px 20px 0px 7px; text-align:center;}
#reminder1 {float:left; width:226px; height:71px; background:none; background-color:#dddddd; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:12px; line-height:17px; color:#000000; font-weight:bold; padding:8px 7px 0px 7px; text-align:center; margin-right:10px;}
#reminder2 {float:left; width:176px; height:71px; background:none; background-color:#dddddd; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:12px; line-height:17px; color:#000000; font-weight:bold; padding:8px 7px 0px 7px; text-align:center;}
#response_correct {color:#ffffff; font-family:Helvetica,Arial,Verdana,sans-serif; font-size:11px; font-weight:bold; text-align:center;}
#submit_content {background:none; background-color:#ffecb2; width:661px;}
#submit_thanks {z-index:20; display:none; width:250px; height:120px; background:none; border:2px solid #594b00; position:relative; margin-top:-142px; margin-bottom:10px; padding:8px 24px 0px 24px;}
#submit_title {font-family:Helvetica,Arial,Verdana,sans-serif; font-size:13px; line-height:15px; color:#000000; font-weight:bold; text-align:center; padding-bottom:8px; position:relative; margin-top:-6px; margin-left:6px;}
#subtitle {padding:0px 0px 17px 0px; width:600px; float:left;}
#subtitle_btns {display:none;}
#subtitle_login {padding:14px 0px 0px 102px; height:34px; width:600px; float:left;}
#text_immerse {padding:23px 0px 0px 384px;}
#theme_text,#keys {padding-top:6px; display:none;}
#title,#title2 {display:none;}
#title_print {color:#000000; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:24px; font-weight:bold; padding:90px 0px 0px 80px; float:left;}
#title_text {padding:6px 192px 2px 20px; height:49px; float:left; color:#ffecb2; font-family:Arial,Helvetica,Verdana,sans-serif; font-size:30px; font-weight:bold; line-height:32px; text-shadow:0px -3px #000000; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=15, Color='#000000')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=15, Color='#000000');}
#tools {float:left; padding:8px 0px 0px 14px;}
#your_own_message {width:200px;}

#barB_internal_temp3 {background:none; height:10px;}
#barT_internal_temp3 {background:none;}
#body_temp3 {padding:0px; margin:0px; background:none; background-color:#000000;}
#content_bg_temp3 {}